body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  text-align: center;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}

/* About Us Section
--------------------------------*/

#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 0px 0;
}

#about .about-container .icon-box .description {
  margin-top: 20px;
  line-height: 24px;
  font-size: 14px;
}

#instructionsButton {
  z-index: 10;
  position: absolute;
  bottom: 10px;
  left: 10%;
}

#swipeButton {
  z-index: 10;
  position: absolute;
  bottom: 10px;
  left: 20%;
  display: none;
}